<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href= "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="" rel="stylesheet">
    <title> Anagram Matcher </title>
  </head>
  <body>
    <h1> Anagram Matcher </h1>
    <form action="/anagrammatch/result">
      <label for="word1"> Set a word to be your anagram marker: </label>
      <input id="word1" name="inputWords" type="text">
      <label for="word2"> Set a word to check against your marker : </label>
      <input id="word2" name="inputWords" type="text">
      <label for="word3"> Set a second word to check against your marker: </label>
      <input id="word3" name="inputWords" type="text">
      <label for="word4"> Set a third word to check against your marker: </label>
      <input id="word4" name="inputWords" type="text">
      <button type="submit"> Check for Anagrams! </button>
    </form>
    <button type="btn" class="btn-primary" id="getHome"> Go back Home </button>
  </body>
</html>
