<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href= "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="" rel="stylesheet">
    <title> Anagram Matcher </title>
  </head>

  <body>
    <h1> Anagram Matcher </h1>
    <hr>
    <p> Create your Anagram word and check to see if a list of inputed words are anagrams of that word! </p>
    <p><a href="Form><b> Let's go create anagrams! </b></a></p>
    <button type="button" class="btn-success"><b> See my anagrams! </b></button>

    <div id="results">
    <hr>
    <p> You created the anagram: @_marker </p>
    <p> The list of words you inputed were: @_otherWords </p>
    <p> Here are the results of that match.
        Successful anagrams: @_anagrams
        Failed anagrams: @not
    </p>
    </div>
  </body>
</html>
